name: First CI Pipeline

on: 
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Run Hello World Script
      run: echo "My first CI pipeline is working!"
